name: Build Release

on:
  release:
    branches:
      - main
    types: [released]


jobs:
  build:
    uses: synadia-io/workflows/.github/workflows/java-standard-release.yml@main
    secrets: inherit
