name: Build Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    uses: synadia-io/workflows/.github/workflows/java-standard-pr.yml@main
    with:
      coverage: true
    secrets: inherit
