name: Build Main

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: synadia-io/workflows/.github/workflows/java-standard-main.yml@main
    with:
      coverage: true
    secrets: inherit
